@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I dag lærer vi masse om Docker ved å bruke et program som heter Podman</p>
</div>
